{% extends './body.html' %}  <!-- para que tome el contenido del menu nav.html -->
{% block title %} {{ title }} {% endblock%}

{% block content %} 
{% from "_macro.html" import render_field %}  <!-- para que funcione el formulario donde se pone {{ render_field(form.usuario, class='form-control' , placeholder='Usuario', minlength='4', maxlength='20') }}-->
<div class="container mt-3">

    <h1>Consultar Asociado</h1>

    <form name="sentMessage" id="contactForm" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      
      <div class="mb-3 mt-3 col-sm-4">
        {{ render_field(form.usuario, class='form-control' , placeholder='Digite numero de documento', minlength='4', maxlength='20') }}
      </div>
        
      <button type="submit" class="btn btn-success">Consultar</button>
      <br>

      <!-- codigo para enviar mensaje de alerta-->
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
   <br />
    {% for category, message in messages %}
        {% if category == 'warning' %}
            <div class="alert alert-warning alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>{{ message }}</strong>
            </div>
        {% else %}
            <div class="alert alert-success alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>{{ message }}</strong>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}

<!-- consulta que se hace en oracle -->
<div class="row">
  {% for datos in data.dataConsulta %}
              <!-- <h5>Usuario: {{ l }} </h5> -->
              <h1>Usuario</h1> <h5> {{ datos[1] }}</h5>
              <h1>Numero de documento </h1> <h5> {{ datos[0] }} </h5>
              {% if datos[2] == 'A' %}
              <h1>Estado </h1> <h5>Activo</h5>
              {% elif datos[2] == 'R' %}
              <h1>Estado </h1> <h5>Retirado</h5>
              {% elif datos[2] == 'I' %}
              <h1>Estado </h1> <h5>Inactivo</h5>
              {% elif datos[2] == 'S' %}
              <h1>Estado </h1> <h5>Solicitud de retiro</h5>
              {% else %}
              <h1>Estado </h1> <h5>No tiene estado</h5>
              {% endif %}
  {% endfor %}
</div>
 
    </form>
    
  </div>

{% endblock %}