{% extends 'base.html' %}
{% load product_extras %}
{% load cart_extras %}

{% block content %}
<div class="col-3">
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="Imagen del prodcuto" width="200" height="200">
    {% endif %}
</div>
<div class="col">
    <div class="h3 font-weight-bold text-success">
        {{ quantity | quantity_add_format }} al carrito de compras
    </div>
    <div class="">
        <a href="{% url 'products:product' product.slug %}">
            {{ product.title }}
        </a>
    </div>
    <div class="h3 font-weight-bold text-danger">
        {{ product.price | price_format }} <!--se deja | para que tome el filtro que fue creado en python/django/appwebDjango/facilito_store/products/templatetags/product_extras.py-->
    </div>
    <div class="mt-2">
        <a href="{% url 'carts:cart' %}" class="btn btn-info">Ver carrito</a>
    </div>
    <div class="mt-2">
        <a href="{% url 'index' %}">Seguir comprando</a>
    </div>
</div>
{% endblock %}