{% extends 'base/base.html' %}

{% block title %} {{ title }} {% endblock%}

{% block content %} 

{% from "_macro.html" import render_field %}

<div class="container mt-3">
    <h1>Formulario de usuario</h1>
    <form name="sentMessage" id="contactForm" method="POST">
      <div class="mb-3 mt-3">
        {{ render_field(form.username, class='form-control') }}
      </div>

      <div class="mb-3">
        {{ render_field(form.email, class='form-control') }}
      </div>

      <div class="mb-3">
        {{ render_field(form.comment, class='form-control') }}
      </div>
      
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
    
  </div>
  <br>
{% endblock %}