{% extends 'base/base.html' %}

{% block title %} {{ title }} {% endblock%}

{% block content %} 

{% from "_macro.html" import render_field %}

<div class="container mt-3">
    <h1>Formulario de usuario</h1>
    <form name="sentMessage" id="contactForm" method="POST">
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{ render_field(form.username, class='form-control') }}
                <p class="help-block text-danger"></p>
            </div>
        </div>

        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{ render_field(form.email, class='form-control') }}
                <p class="help-block text-danger"></p>
            </div>
        </div>

        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{ render_field(form.comment, class='form-control') }}
                <p class="help-block text-danger"></p>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
        
      </form>
  </div>
  <br>
{% endblock %}