{% extends 'base/base.html' %}

{% block title %} {{ title }} {% endblock%}

{% block content %} 

{% from "_macro.html" import render_field %}

<div class="container mt-3">
  <h1>Reviews</h1>
  {% if comments %}
    {% for comment in comments.items %}
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <hr>
        <h5> {{ comment.id }} </h5>
        <h2 class="section-heading"> {{ comment.username }} </h2>
        <h5> {{ date_format(comment.created_date) }} </h5>
        <p> {{ comment.text }} </p>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>
<!-- -->
  <br>
{% endblock %}